
body {
    color:#777;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
    max-width:600px;
    margin: 0 auto;     
    padding: 100px 40px 100px 40px; 
}


h1 { color: #000; font-size:36px; font-weight: 300; margin-top:10px; margin-bottom:5px;}
h2 { color: #000; font-size:28px; font-weight: 300; margin-top:50px; margin-bottom:5px;}
h3 { color: #000; font-size:24px; font-weight: 300; margin-top:40px; margin-bottom:0px;}
p {margin-bottom:20px; margin-top:5px; line-height: 140%;}
li {margin-bottom:20px; margin-top:20px; line-height: 140%;}
a {color: #5694f1; text-decoration: none}

img { border:5px solid #aaa; float:left; margin-right:10px; margin-top:5px;}

ul.social {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 30px 0 0 0;
    text-align: center;    
}
ul.social li {
    display: inline;
    margin-left: 30px;
    font-size:16px;
}
ul.social li.first-item {
    margin-left: 0;
}

.abstract {font-size:16px; line-height: 140%; margin-bottom:20px; }
.uparrow {text-align: right; margin-bottom:100px; margin-top:40px;}
.margin_top {margin-top:15px;}
.margin_bottom {margin-bottom:30px;}
.uparrow-final {text-align: right; margin-top:40px;} 
.border{border-bottom: 1px solid #eee;}
    
.section-anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.section-anchor-top{
    top: -100px;
}